My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "ca41cc3d-d929-43ec-930a-44da4d881b44",
      "name": "When chat message received",
      "webhookId": "d2122ad6-9dbe-4fb4-9883-ead9c0938bc8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"minimax-m2.7:cloud\", prompt: \"Extract 1-3 search keywords from the input. Output as comma-separated values only. No explanation.\\n\\nInput: \" + $json.chatInput + \"\\nKeywords:\", stream: false }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        0
      ],
      "id": "93b02628-cff6-43b8-8a95-bb584a098496",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "32cfab19-d295-80a6-a853-d194e136de68",
          "mode": "list",
          "cachedResultName": "テストDB",
          "cachedResultUrl": "https://www.notion.so/32cfab19d29580a6a853d194e136de68"
        },
        "filterType": "json",
        "filterJson": "={{ JSON.stringify($json.filter) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "9f74f4cb-dd81-4d5b-9da4-173053b0021f",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "zop5QF1au8NJSJmh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const keywords = $input.first().json.response.trim().split(\",\").map(k => k.trim()).filter(Boolean);\n\nconst orFilter = keywords.map(keyword => ({\n  or: [\n    { property: \"名前\", title: { contains: keyword } },\n    { property: \"概要\", rich_text: { contains: keyword } },\n    { property: \"タグ\", multi_select: { contains: keyword } }\n  ]\n}));\n\nreturn [{ json: { filter: { or: orFilter } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "46f8ca25-ce93-4131-9758-c13ee488dfc8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        0
      ],
      "id": "b0717d1c-f6d7-4cbf-9ce4-8d52203f9646",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "limit": "={{ 100000}}"
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1008,
        80
      ],
      "id": "bb487898-4166-443f-802f-5990d1ed9e0e",
      "name": "Get many child blocks",
      "credentials": {
        "notionApi": {
          "id": "zop5QF1au8NJSJmh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $input.all();\n\nconst text = blocks.map(b => {\n  const block = b.json;\n  // Simplify有効時はcontentに入る\n  if (block.content) return block.content;\n  // Simplify無効時のフォールバック\n  const type = block.type;\n  const richText = block[type]?.rich_text;\n  if (!richText) return \"\";\n  return richText.map(t => t.plain_text).join(\"\");\n}).filter(Boolean).join(\"\\n\");\n\nreturn [{ json: { pageText: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        80
      ],
      "id": "2ded4d48-e9f3-45d5-a6be-0645f39e6dd7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({ model: \"minimax-m2.7:cloud\", prompt: $json.prompt, stream: false }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        -80
      ],
      "id": "90103c63-c8ed-4b4f-9c99-829ef7d790c3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const allPages = $input.all();\nconst question = $('When chat message received').first().json.chatInput;\n\nconst context = allPages\n  .map(p => p.json.pageText)\n  .filter(Boolean)\n  .join(\"\\n\\n---\\n\\n\");\n\nconst prompt = `以下のコンテキストを根拠に質問に答えてください。コンテキストに答えがない場合は「情報がありません」と答えてください。\\n\\nコンテキスト:\\n${context}\\n\\n質問: ${question}\\n回答:`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -80
      ],
      "id": "a10022a8-00c1-45c3-acf9-0119490d4a39",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        16
      ],
      "id": "e161218a-674d-4bf2-8e7f-3c5b46bae3c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response ?? \"\";\nconst clean = raw\n  .replace(/\\\\n/g, '\\n')\n  .replace(/\\*\\*/g, '')      // **太字** を除去\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{ json: { text: clean } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        16
      ],
      "id": "2a6eecef-ea73-4cf3-9d14-54b57e572eac",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "30f42840-1cf4-43be-ae2d-95c8ad11b9b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90036b71ebdef22b6c00cf34df10560f47f1908c20a478b2b0ffadbe28165532"
  },
  "id": "JSMEp8Dk5cKxK66t",
  "tags": []
}